.bg-primary-color{
    background-color: #64B0F5;
}

.bg-secundary-color{
    background-color: #ece8ea;
}

.bg-dark-color{
    background-color:  #64B0F5;
}

.primary-color{
    background-color: 	#07F0E8;
}

.secundary-color{
    background-color: #b6ff86c9;
}

.font{
    background-color: black;
}